<?xml version="1.0" ?>
<robot name="ante" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Include Files -->
    <xacro:include filename="$(find ante_description)/parts/drivebase.xacro" />
    <xacro:include filename="$(find ante_description)/parts/ducket.xacro" />
    <xacro:include filename="$(find ante_description)/parts/solenoids.xacro" />
    <xacro:include filename="$(find ante_description)/parts/simple_wheel.xacro" />
    <xacro:include filename="$(find ante_description)/parts/reader_arm.xacro" />
    <xacro:include filename="$(find ante_description)/parts/knob_wheel.xacro" />
    <xacro:include filename="$(find ante_description)/parts/ros2_control.xacro" />
    <xacro:include filename="$(find ante_description)/util/materials.xacro" />



    <!-- create base_link -->
    <link name="base_link" />

    <xacro:drivebase parent="base_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:drivebase>

    <xacro:simple_wheel 
        name="front_left"
        parent="chassis_link"
        flip="0"
        pos_x="0.051"
        pos_y="-0.070"
        pos_z="0.0375"
    />

    <xacro:simple_wheel 
        name="front_right"
        parent="chassis_link"
        flip="1"
        pos_x="-0.051"
        pos_y="-0.070"
        pos_z="0.0375"
    />

    <xacro:simple_wheel 
        name="rear_left"
        parent="chassis_link"
        flip="0"
        pos_x="0.051"
        pos_y="0.070"
        pos_z="0.0375"
    />

    <xacro:simple_wheel 
        name="rear_right"
        parent="chassis_link"
        flip="1"
        pos_x="-0.051"
        pos_y="0.070"
        pos_z="0.0375"
    />

    <xacro:ducket parent="chassis_link">
        <origin xyz="0 -0.12025 0.041445" rpy="0 0 0"/>
    </xacro:ducket>

    <xacro:solenoids parent="chassis_link">
        <origin xyz="-0.029 0.052 0.0675" rpy="0 0 0"/>
    </xacro:solenoids>

    <xacro:reader_arm parent="chassis_link">
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </xacro:reader_arm>

    <xacro:knob_wheel parent="chassis_link">
        <origin xyz="0.138 0.072 0.115" rpy="0 -1.570796 0"/>
    </xacro:knob_wheel>


    <xacro:ros2_control ros2_control_hardware_type="real" usb_port="/dev/ttyACM0"/>


</robot>