<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="solenoids" params="parent *origin">

    <joint name="solenoids_base_link" type="fixed">
        <parent link="${parent}"/>
        <child link="solenoids_link"/>
        <xacro:insert_block name="origin"/>
    </joint>
   
    <link name="solenoids_link">
        <visual>
        <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
        <geometry>
            <mesh filename="package://ante_description/meshes/solenoids.stl" scale="1. 1. 1."/>
        </geometry>
        </visual>
        <collision>
        <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
        <geometry>
            <mesh filename="package://ante_description/meshes/solenoids.stl" scale="1. 1. 1."/>
        </geometry>
        </collision>
    </link>

</xacro:macro>
</robot>