<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:macro name="drivebase" params="parent *origin">

  <!-- fix chassis to base_link, given by parent -->
  <joint name="drivebase_base_link" type="fixed">
    <parent link="${parent}"/>
    <child link="chassis_link"/>
    <xacro:insert_block name="origin" />
  </joint>

  <link name="chassis_link">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://ante_description/meshes/drivebase_frame_decimated.stl" scale="1. 1. 1."/>
      </geometry>
      <material name="silver" />
    </visual>
  </link>

</xacro:macro>
</robot>
