<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="reader_arm" params="parent *origin">
  <!-- create shoulder and fix to parent -->
  <link name="reader_base_link">
    <visual>
      <geometry>
        <mesh filename="package://ante_description/meshes/reader_base.stl" scale="1. 1. 1."/>
      </geometry>
      <material name="green" />
    </visual>
  </link>

  <joint name="reader_base" type="fixed">
    <parent link="${parent}"/>
    <child link="reader_base_link"/>
    <xacro:insert_block name="origin"/>
  </joint>

  

  <!-- create bicep and shoulder joint -->
  <link name="reader_upper_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ante_description/meshes/reader_upper.stl" scale="1. 1. 1."/>
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <joint name="reader_shoulder_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="reader_base_link"/>
    <child link="reader_upper_link"/>
    <axis xyz="0 1 0."/>
    <limit lower="0" upper="3.1416" effort="0." velocity="0."/>
  </joint>

  <!-- create end effector link and joint -->
  <xacro:property name="lower_offset_x" value="-0.160943" />
  <xacro:property name="lower_offset_y" value="0.0" />
  <xacro:property name="lower_offset_z" value="0.02795" />
  <link name="reader_lower_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ante_description/meshes/reader_lower.stl" scale="1. 1. 1."/>
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <joint name="reader_elbow_joint" type="revolute">
    <origin xyz="${lower_offset_x} ${lower_offset_y} ${lower_offset_z}" rpy="0 0 0"/>
    <parent link="reader_upper_link"/>
    <child link="reader_lower_link"/>
    <axis xyz="0 1 0."/>
    <limit lower="0" upper="3.1416" effort="0." velocity="0."/>
  </joint>


</xacro:macro>

</robot>