<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<xacro:macro name="ros2_control" params="prefix ros2_control_hardware_type usb_port">

    <ros2_control name="ante" type="system">
        <hardware>
            <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
                <plugin>mock_components/GenericSystem</plugin>
            </xacro:if>
            <xacro:if value="${ros2_control_hardware_type == 'real'}">
                <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
                <param name="usb_port">${usb_port}</param>
            </xacro:if>
        </hardware>
    </ros2_control>

</macro>
</robot>